{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Smart Voting Platform</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'vendor/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>Smart</span>VotingPlatform</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#user-reg">Login</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>Welcome to Smart Voting Platform</h1>
      <h2>Where you can make a difference!</h2>
      <img src="{% static 'images/hero-img.png' %}" alt="Hero Imgs">
      <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #hero -->

  <!--==========================
    Get Started Section
  ============================-->
  <section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>A Simple and Elegant System</h2>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-6">
          <div class="feature-block">

            <img src="{% static 'images/svg/planet.svg' %}" alt="img" class="img-fluid">
            <h4>user friendly interface</h4>
            <p>Simple and rich user interface that takes seconds to learn</p>

          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="feature-block">

            <img src="{% static 'images/svg/cloud.svg' %}" alt="img" class="img-fluid">
            <h4>Scalable and Efficient</h4>
            <p>The platform is capabale of handling hundreds of users seamlessly</p>

          </div>
        </div>

      </div>
    </div>

  </section>

  <section id="user-reg" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>log in now to get started</h2>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-6">
          <div class="feature-block">

            <img src="{% static 'images/svg/login1.png' %}" alt="img" class="img-fluid">
            <h4>Already have an account?</h4>
            <a href="{% url 'login' %}" class="btn-get-started scrollto">Login</a>

          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="feature-block">

            <img src="{% static 'images/svg/signup3.png' %}" alt="img" class="img-fluid">
            <h4>Don't have an account?</h4>
            <a href="{% url 'signup' %}" class="btn-get-started scrollto">Signup</a>

          </div>
        </div>

      </div>
    </div>

  </section>

<!--   <footer>
    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights eStartup. All rights reserved.</p>
        <div class="credits"> -->
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
<!--           Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer> -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'vendor/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'vendor/easing/easing.min.js' %}"></script>
  <script src="{% static 'vendor/modal-video/js/modal-video.js' %}"></script>
  <script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/wow/wow.min.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main1.js' %}"></script>

</body>
</html>
